.wrapper {
    min-height: 100%;
    
}

.push {
  height: 600px;
}
.flex_container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 5px;
}
.flex_footer {
  flex-shrink: 0;
}
.flex_container_nest {
  display: flex;
  flex-direction: column;
  
}